<!-- Small Caps -->
{{- if .Params.smallCaps | default .Site.Params.enableSmallCaps -}}
    {{- .Scratch.Set "smallCaps" true -}}
{{- end -}}

<!-- Align -->
{{- with .Params.align | default "default" -}}
    {{- if eq . "justify" -}}
        {{- $.Scratch.Set "align" "justify" -}}
    {{- end -}}
    {{- if and $.Site.Params.enableJustify (eq . "default") -}}
        {{- $.Scratch.Set "align" "justify" -}}
    {{- end -}}
    {{- if eq . "center" -}}
        {{- $.Scratch.Set "align" "center" -}}
    {{- end -}}
{{- end -}}

<!-- Type: poetry -->
{{- if and (eq .Type "poetry") .IsPage -}}
    {{- $.Scratch.Set "type" "poetry" -}}
{{- end -}}

<!-- Paragraph Indent -->
{{- if ne .Type "poetry" -}}
    {{- if (and .Site.Params.enableParagraphIndent .Params.indent) | default (and .Site.Params.enableParagraphIndent (eq .Site.Params.paragraphStyle "indent")) -}}
        {{- .Scratch.Set "indent" true -}}
    {{- end -}}
{{- end -}}
