{{ if and .Site.Params.enableAboutPageMinimalFooter (eq .Section "about") }}
    {{ with or .Site.Menus.socials .Site.Menus.links }}
        <footer class="minimal-footer-about">
            {{ with $.Site.Menus.socials }}
                <div class="about-socials">
                    {{ range $index, $value := . }}
                        {{- $linkType := (string .Pre) -}}
                        {{- $iconName := (string .Post) -}}
                        {{- $icon := (index $.Site.Data.SVG $iconName) -}}
                        <a href="{{ .URL }}"{{ if eq $linkType "external" }} target="_blank" rel="external noopener"{{ end }}>{{ partial "utils/icon.html" (dict "$" $ "name" $iconName "class" .Identifier) }}{{ .Name }}</a>
                    {{ end }}
                </div>
            {{ end }}
            {{ with $.Site.Menus.links }}
                <div class="about-links">
                    {{ range $index, $value := . }}
                        {{- $linkType := (string .Pre) -}}
                        {{- $iconName := (string .Post) -}}
                        {{- $icon := (index $.Site.Data.SVG $iconName) -}}
                        <a href="{{ .URL }}"{{ if eq $linkType "external" }} target="_blank" rel="external noopener"{{ end }}>{{ partial "utils/icon.html" (dict "$" $ "name" $iconName "class" .Identifier) }}{{ .Name }}</a>
                    {{ end }}
                </div>
            {{ end }}
        </footer>
    {{ end }}
{{ end }}
