{{ if .Site.Params.enablePostTags }}
    {{ with .Params.tags }}
        <div class="post-tags">
            {{ range . }}
                {{ $tag := . }}
                {{ with $.Site.GetPage (printf `/tags/%s` ($tag | urlize)) }}
                    {{ $icon := partial "utils/icon.html" (dict "Deliver" $ "name" $.Site.Params.postTagsIcon "class" "tag-icon") }}
                    <a href="{{ .RelPermalink }}" rel="tag" class="post-tags-link">{{ $icon  }}{{ .LinkTitle | default $tag }}</a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
