{{- $ := index . "$" -}}
{{- $iconName := .iconName | default "search" -}}
<form id="search" class="search" role="search">
    <label for="search-input">
        {{- partial "utils/icon.html" (dict "$" $ "name" $iconName "class" "search-icon") -}}
    </label>
    <input type="search" id="search-input" class="search-input">
</form>

<template id="search-result" hidden>
    <article class="content post">
        <h2 class="post-title"><a class="summary-title-link"></a></h2>
        <summary class="summary"></summary>
        <div class="read-more-container">
            <a class="read-more-link">{{ i18n "readMore" }} »</a>
        </div>
    </article>
</template>
