{{ if .Site.Params.enableSocials }}
    {{ with .Site.Data.Socials }}
        <ul class="socials">
            {{- range sort .socials "weight" -}}
                <li class="socials-item">
                    <a href="{{ .url | safeURL }}" target="_blank" rel="external noopener" title="{{ .title }}">
                        {{- partial "utils/icon.html" (dict "$" $ "name" .icon "class" "social-icon") -}}
                    </a>
                </li>
            {{- end -}}
        </ul>
    {{ end }}
{{ end }}
