.emphasis-point {
    font-style: normal;
    text-emphasis: '•';
    -webkit-text-emphasis: '•';
    -moz-text-emphasis: '•';
    text-emphasis-position: under;
    -webkit-text-emphasis-position: under;
    -moz-text-emphasis-position: under;
}
