.emphasis-point {
    font-style: normal;
}
.dot {
    position: relative;
    display: inline;
}
.dot::after {
    content: '‧'; /* U+2027 */
    position: absolute;
    bottom: -1em;
    left: -3.5em;
    font-size: 0.5em;
    line-height: 1;
    pointer-events: none;
}
