.load-comments {
    margin-top: 5em;
    text-align: center;
}

#load-comments {
    cursor: pointer;
    display: inline-block;
    background-color: var(--color-contrast-lower);
    padding: 0.5em 1em;
    border-radius: 1em;
    transition: background-color $duration;
    &:hover {
        background-color: alpha(var(--color-primary), 0.3);
    }
}
