#theme-switcher {
    cursor: pointer;
    position: relative;
    z-index: 4;
}

[data-theme="dark"] {
    img {
        filter: brightness(50%);
    }
    #theme-switcher, #lang-switcher {
        opacity: 0.5;
    }
}

@if ($headerLayoutFlex) {
    #theme-switcher {
        display: inline-block;
    }
} @else {
    #theme-switcher {
        padding: 1em;
        float: right;
    }
}
