.post-copyright {
    margin: 0;
    list-style: none;
    margin-top: 5em !important;
    padding: 0.5em 1em;
    background-color: alpha(var(--color-contrast-lower), 0.5);
    border-left: 3px solid alpha(var(--color-primary), 0.5);
    line-height: 2;
}

.copyright-item {
    line-height: 1.5;
    margin: 0.5em 0;
}

.copyright-item-text {
    font-weight: 500;
}
