.post-tags {
    margin-top: 5rem;
    text-align: center;
    font-size: 90%;
}

.post-tags-link {
    color: alpha(var(--color-contrast-medium), 0.9);
    margin: 0 0.5em;
    line-height: 2;
    display: inline-block;
}

.tag-icon {
    margin-right: 0.3em;
    font-size: 80%;
}
