.related-posts {
    border: 1px solid var(--color-contrast-lower);
    padding: 0.6em 1em;
    line-height: 2em;
    margin-top: 5em;
}

.related-title {
    font-size: 1em;
    margin: 0;
}

.related-icon {
    float: right;
    margin-top: 0.4em;
}

.related-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.related-link {
    line-height: 1.5;
    display: inline-block;
}
