<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}"{{ if .Site.Params.enableDarkMode }}{{ with .Site.Params.defaultTheme | default "light" }} data-theme="{{ . }}"{{ end }}{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            {{ partial "header.html" . }}
            {{ if ne .Site.Params.headerLayout "flex" }}
                {{ if or (and .IsHome .Site.Params.displayMenuInHome) (and (not .IsHome) .Site.Params.enableMenu) }}
                    {{ partial "menu.html" . }}
                {{ end }}
                {{ partial "components/multilingual.html" . }}
                {{ partial "components/dark-mode.html" . }}
            {{ end }}
            {{ block "main" . }}{{ end }}
            {{ partial "components/back-to-top.html" . }}
            {{ partial "footer.html" . }}
        </div>
        {{ partial "script.html" . }}
    </body>
</html>
