{{ define "main" }}
    {{- $path := "" -}}
    {{- with .File -}}
        {{- $path = .Path -}}
    {{- else -}}
        {{- $path = .Path -}}
    {{- end -}}


    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-group">
                {{ if site.Params.displayListTitle }}
                    {{ if (eq .Kind "section") }}
                        <h1 class="list-title">
                            {{ .Title | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" $path) "/")) " ") }}
                        </h1>
                    {{ end }}
                    {{ if (eq .Kind "term") }}
                        <h1 class="list-title">
                            {{ .Title | default .Data.Term | default (delimit (last 1 (split (strings.TrimSuffix "/_index.md" $path) "/")) " ") }}
                        </h1>
                    {{ end }}
                {{ end }}
                {{ .Content }}

                {{- $pages := slice -}}


                <!-- Section -->
                {{ if (eq .Kind "section") }}
                    <!-- Archives -->
                    {{ if (eq .Section "archives") }}
                        {{- $pages = (where site.RegularPages "Section" "in" site.Params.mainSections) -}}
                        <!-- Regular Section -->
                    {{ else }}
                        {{ $sectionPage := .CurrentSection }}
                        {{ range site.RegularPages }}
                            {{ if (.IsDescendant $sectionPage) }}
                                {{- $pages = $pages | append . -}}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}


                <!-- Taxonomy (See `taxonomy` folder) -->

                <!-- Taxonomy Term -->
                {{ if (eq .Kind "term") }}
                    {{- $pages = .Pages -}}
                {{ end }}


                <!-- Start List -->
                {{ range $pages.GroupByDate "2006" }}
                    {{- $zodiacName := "" -}}
                    {{ if site.Params.chineseZodiac }}
                        {{- $zodiacName = (index site.Data.ChineseZodiac (string (mod .Key 12))) -}}
                    {{ end }}
                    {{- $year := "" -}}
                    {{ if site.Params.i18nYear }}
                        {{ $key := .Key }}
                        {{- $num := slice -}}
                        {{ range (slice 1 2 3 4) }}
                            {{- $num = $num | append (substr $key (sub . 1) 1) -}}
                        {{ end }}
                        {{- $i18nNum := slice -}}
                        {{ range $num }}
                            {{- $i18nNum = $i18nNum | append (i18n .) -}}
                        {{ end }}
                        {{- $year = delimit $i18nNum "" -}}
                    {{ else }}
                        {{- $year = .Key -}}
                    {{ end }}
                    <h2 class="list-year">
                        {{ $year }}{{ if site.Params.chineseZodiac }}
                            {{ partial "utils/icon.html" (dict "$" $ "name" $zodiacName "class" "chinese-zodiac") }}
                        {{ end }}
                    </h2>
                    {{ if site.Params.groupByMonth }}
                        {{ range .Pages.GroupByDate "January" }}
                            {{- $month := "" -}}
                            {{ if site.Params.i18nMonth }}
                                {{- $month = i18n (lower .Key) -}}
                            {{ else }}
                                {{- $month = .Key -}}
                            {{ end }}
                            <h3 class="list-month">{{ $month }}</h3>
                            {{ partial "utils/list-item.html" (dict "$" .) }}
                        {{ end }}
                    {{ else }}
                        {{ partial "utils/list-item.html" (dict "$" .) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </main>
{{ end }}
