{{- $Deliver := . -}}
<main class="home">
    <div class="poetry">
        {{ range .Site.Params.homePoetry }}
            {{- $raw := . -}}
            {{- partial "utils/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
            {{- $Content := $Deliver.Scratch.Get "Content" -}}
            <p>{{ $Content | safeHTML }}</p>
        {{ end }}
    </div>
    {{ with .Site.Menus.home }}
        <div class="links">
            {{ range . }}
                {{- $linkType := (string .Pre) -}}
                {{- $iconName := (string .Post) -}}
                {{- $icon := (index $.Site.Data.SVG $iconName) -}}
                <a href="{{ .URL }}" class="links-item"{{ if eq $linkType "external" }} target="_blank" rel="noopener"{{ end }}>{{ replace $icon "icon" (printf `icon %s` .Identifier) | safeHTML }}{{ .Name }}</a>
            {{ end }}
        </div>
    {{ end }}
</main>
