{{- $Deliver := . -}}
<main class="home">
    <div class="poetry">
        {{ range .Site.Params.homePoetry }}
            {{- $raw := . -}}
            {{- partial "components/markdownify.html" (dict "Deliver" $Deliver "raw" $raw "isContent" false) -}}
            {{- $Content := $Deliver.Scratch.Get "Content" -}}
            <p>{{ $Content | safeHTML }}</p>
        {{ end }}
    </div>
    <div class="links">
        {{ range .Site.Menus.home }}
            {{- $linkType := (string .Pre) -}}
            {{- $iconName := (string .Post) -}}
            {{- $icon := (index $.Site.Data.SVG $iconName) -}}
            <a href="{{ .URL }}" class="links-item"{{ if eq $linkType "external" }} target="_blank" rel="noopener"{{ end }}>{{ replace $icon "icon" (printf `icon %s` .Identifier) | safeHTML }}{{ .Name }}</a>
        {{ end }}
    </div>
</main>