<nav class="nav">
    <ul class="menu" id="menu">
        {{ if .Site.Params.activeInSection }}
            {{ .Scratch.Set "currentPage" (.Site.GetPage (printf `/%s` .Section)) }}
        {{ else }}
            {{ .Scratch.Set "currentPage" . }}
        {{ end }}
        {{ $currentPage := .Scratch.Get "currentPage" }}
        {{ $ctx := . }}
        {{ range .Site.Menus.main }}
            {{ if and (eq .Identifier "theme-switcher") $.Site.Params.enableDarkMode }}
                {{ if eq $.Site.Params.headerLayout "flex" }}
                    <li class="menu-item">
                        {{ partial "components/dark-mode.html" $ctx }}
                    </li>
                {{ end }}
            {{ else if eq .Identifier "lang-switcher" }}
                {{ if and $.Site.IsMultiLingual $.Site.Params.enableLangToggle }}
                    {{ if eq $.Site.Params.headerLayout "flex" }}
                        <li class="menu-item">
                            {{ partial "components/multilingual.html" $ctx }}
                        </li>
                    {{ end }}
                {{ end }}
            {{ else }}
                <li class="menu-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{ end }}">
                    {{- $linkType := (string .Pre) -}}
                    <a href="{{ .URL }}"{{ if eq $linkType "external" }} target="_blank" rel="external noopener"{{ end }}>
                        {{- $iconName := (string .Post) -}}
                        {{- $icon := (index $.Site.Data.SVG $iconName) -}}
                        {{- printf `%s` (replace $icon "icon" (printf `icon %s` .Identifier)) | safeHTML -}}
                        {{- with .Name -}}
                            {{- printf `<span class="menu-item-name">%s</span>` . | safeHTML -}}
                        {{- end -}}
                    </a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
