<div class="post-meta">
    {{ if and .Site.Params.displayPublishedDate (not .PublishDate.IsZero) }}
        {{ $icon := replace (index $.Site.Data.SVG $.Site.Params.publishedDateIcon) "icon" "icon post-meta-icon" }}
        {{ printf `<time datetime="%s" class="post-meta-item published">%s%s</time>` (.PublishDate.Format "2006-01-02T15:04:05-07:00") $icon (.PublishDate.Format .Site.Params.postMetaDateFormat) | safeHTML }}
    {{ end }}
    {{ if and .Site.Params.displayModifiedDate (not .Lastmod.IsZero) }}
        {{ $icon := replace (index $.Site.Data.SVG $.Site.Params.modifiedDateIcon) "icon" "icon post-meta-icon" }}
        {{ printf `<time datetime="%s" class="post-meta-item modified">%s%s</time>` (.Lastmod.Format "2006-01-02T15:04:05-07:00") $icon (.Lastmod.Format .Site.Params.postMetaDateFormat) | safeHTML }}
    {{ end }}
    {{ if and .Site.Params.displayExpiredDate (not .ExpiryDate.IsZero) }}
        {{ $icon := replace (index $.Site.Data.SVG $.Site.Params.expiredDateIcon) "icon" "icon post-meta-icon" }}
        {{ printf `<time datetime="%s" class="post-meta-item expired">%s%s</time>` (.ExpiryDate.Format "2006-01-02T15:04:05-07:00") $icon (.ExpiryDate.Format .Site.Params.postMetaDateFormat) | safeHTML }}
    {{ end }}
    {{ if .Site.Params.displayCategory }}
        {{ $icon := replace (index $.Site.Data.SVG $.Site.Params.categoryIcon) "icon" "icon post-meta-icon" | safeHTML }}
        {{ if and (eq .Site.Params.categoryBy "sections") (in .Site.Params.postSections .Section) }}
            {{ with .File }}
                {{ $sections := split (strings.TrimSuffix "/" (.Dir | default $.Section)) "/" }}
                {{ with $sections }}
                    {{ $.Scratch.Delete "sectionsDirMeta" }}
                    {{ $.Scratch.Delete "sectionsMeta" }}
                    {{ $.Scratch.Set "index" 0 }}
                    {{ range $sections }}
                        {{ $section := . }}
                        {{ $.Scratch.Add "sectionsDirMeta" (printf `/%s` $section) }}
                        {{ with $.Site.GetPage ($.Scratch.Get "sectionsDirMeta") }}
                            {{ if (eq .Kind "section") }}
                                {{ $.Scratch.SetInMap "sectionsMeta" (printf `%s/%s` (string ($.Scratch.Get "index")) .RelPermalink) (.LinkTitle | default $section) }}
                                {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $sections := .Scratch.Get "sectionsMeta" }}
            {{ with $sections }}
                {{ $length := (sub (len $sections) 1) }}
                <span class="post-meta-item category">
                    {{- $icon -}}
                    {{- range $link, $title := $sections -}}
                        {{- $index := $link | replaceRE `(\d+)/.+` `$1` | int -}}
                        {{- if lt $index $length -}}
                            {{- $.Scratch.Set "delimiter" ($.Site.Params.categoryDelimiter | default "/") -}}
                        {{- else -}}
                            {{- $.Scratch.Set "delimiter" "" -}}
                        {{- end -}}
                        {{- $delimiter := ($.Scratch.Get "delimiter") -}}
                        {{- printf `<a href="%s" class="category-link">%s</a>%s` ($link | replaceRE `\d+/(.+)` `$1`) $title $delimiter | safeHTML -}}
                    {{- end -}}
                </span>
            {{ end }}
        {{ end }}
        {{ if eq .Site.Params.categoryBy "categories" }}
            {{ with .Params.categories }}
                {{ $length := sub (len .) 1 }}
                <span class="post-meta-item category">
                    {{- $icon -}}
                    {{- range $index, $category := . -}}
                        {{- if lt $index $length -}}
                            {{- $.Scratch.Set "delimiter" ($.Site.Params.categoryDelimiter | default "/") -}}
                        {{- else -}}
                            {{- $.Scratch.Set "delimiter" "" -}}
                        {{- end -}}
                        {{- $delimiter := ($.Scratch.Get "delimiter") -}}
                        {{- with $.Site.GetPage (printf `/categories/%s` .) -}}
                            {{- printf `<a href="%s" class="category-link">%s</a>%s` .RelPermalink (.LinkTitle | default $category) $delimiter | safeHTML -}}
                        {{- end -}}
                    {{- end -}}
                </span>
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if .Site.Params.displayWordCount }}
        {{ $icon := replace (index $.Site.Data.SVG $.Site.Params.wordCountIcon) "icon" "icon post-meta-icon" | safeHTML }}
        <span class="post-meta-item wordcount">{{ $icon }}{{ .WordCount }}</span>
    {{ end }}
    {{ if .Site.Params.displayReadingTime }}
        {{ $icon := replace (index $.Site.Data.SVG $.Site.Params.readingTimeIcon) "icon" "icon post-meta-icon" | safeHTML }}
        <span class="post-meta-item readingtime">{{ $icon }}{{ .ReadingTime }}&nbsp;{{ i18n "minute" .ReadingTime }}</span>
    {{ end }}
</div>