{{- $path := (strings.TrimPrefix "/" (printf `%s/css/meme.min.css` .Site.LanguagePrefix)) -}}
{{- $options := (dict "targetPath" $path "outputStyle" "compressed") -}}

{{- if .Site.Params.enableFingerprint -}}
    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate (printf "%s/styles/main-rendered.scss" .Lang) . | resources.ToCSS $options | resources.Fingerprint -}}
    {{- printf `<link rel="stylesheet" href="%s" integrity="%s" />` $style.RelPermalink $style.Data.Integrity | safeHTML -}}
{{- else -}}
    {{- $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate (printf "%s/styles/main-rendered.scss" .Lang) . | resources.ToCSS $options -}}
    {{- printf `<link rel="stylesheet" href="%s" />` $style.RelPermalink | safeHTML -}}
{{- end -}}
