@if variable-exists("glyph") {
    @font-face {
        font-family: 'glyph-correction';
        font-display: swap;
        font-weight: inherit;
        font-style: inherit;
        src: url("/fonts/glyph-correction.eot");
        src: url("/fonts/glyph-correction.eot?#iefix") format('embedded-opentype'),
        url("/fonts/glyph-correction.woff2") format('woff2'),
        url("/fonts/glyph-correction.woff") format('woff'),
        url("/fonts/glyph-correction.ttf") format('truetype');
    }
}
