.list .main-inner {
    width: $listWidth;
}

.list-title {
    text-align: center;
}

.list {
    ul {
        list-style: none;
        padding: 0;
    }
}

.list-item {
    line-height: 2;
    position: relative;
    transition: border $duration;
    border-bottom: 1px dashed var(--color-contrast-low);
    margin-top: 1em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: baseline;
    &:hover {
        border-bottom-color: var(--color-primary);
        ::before {
            background: var(--color-primary);
        }
    }
    ::before {
        content: " ";
        position: absolute;
        left: 0.618em;
        top: 0.618em;
        width: $fontSize / 3;
        height: $fontSize / 3;
        background: var(--color-contrast-low);
        border-radius: 50%;
        border: 1px solid var(--color-bg);
        transition: background $duration;
        font-size: $fontSize;
    }
}
.list-item-title {
    margin: 0 0.618em 0 2em;
    font-size: 1.2em;
    line-height: 1.5;
}
.list-item-time {
    margin: 0 0.618em 0 2em;
    color: var(--color-contrast-medium);
    line-height: 1.5;
}

.list-year {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.term-count {
    color: var(--color-contrast-medium);
    font-size: 0.7em;
}

.tree {
    margin-left: -2.4em;
    overflow: auto hidden;
    white-space: nowrap;
}
.category-item {
    color: blue;
    font-size: 1.2em;
    &:hover {
        color: blueviolet;
    }
}
.category-count {
    color: var(--color-contrast-medium);
}

.tag-cloud {
    text-align: center;
}
.tag-cloud-item {
    margin: ($fontSize * 0.5);
    display: inline-block;
}