.post-gitinfo {
    font-size: 80%;
    margin-top: ($fontSize * 5);
    display: flex;
    justify-content: space-between;
    color: var(--color-contrast-medium);
    overflow-x: auto;
    a {
        color: var(--color-contrast-medium);
        &:hover {
            color: var(--color-primary);
        }
    }
}

.post-gitinfo-left, .post-gitinfo-right {
    display: flex;
}

.gitinfo-item {
    margin: 0 0.5em;
}

.git-icon, .msg-icon, .feedback-icon, .edit-icon {
    margin-bottom: 0.3em;
}