.post-share {
    font-size: 90%;
    margin-top: ($fontSize * 5);
    text-align: right;
    color: alpha(var(--color-contrast-medium), 0.8);
    overflow: auto hidden;
    a {
        color: alpha(var(--color-contrast-medium), 0.8);
        &:hover {
            color: var(--color-primary);
        }
    }
}

.share-text {
    float: left;
}

.share-item {
    float: right;
}

.twitter, .telegram, .facebook, .linkedin, .weibo {
    margin-right: 1em;
}
