.post-share {
    margin-top: ($fontSize * 5);
    color: alpha(var(--color-contrast-medium), 0.8);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    overflow: auto hidden;
    a {
        color: alpha(var(--color-contrast-medium), 0.8);
        &:hover {
            color: var(--color-primary);
        }
    }
}

.share-text {
    font-size: 90%;
    white-space: nowrap;
}

.share-items {
    display: flex;
}

.share-item {
    margin-left: 1em;
}
