.post-share {
    font-size: 100%;
    margin-top: ($fontSize * 2);
    text-align: right;
    color: alpha(var(--color-contrast-medium), 0.8);
    overflow: auto hidden;
    a {
        color: alpha(var(--color-contrast-medium), 0.8);
        &:hover {
            color: var(--color-primary);
        }
    }
}

.share-text{
    float: left;
}

.share-item {
    float: right;
}

.facebook, .linkedin, .qq, .weibo, .twitter {
    margin-right: 1em;
}

.twitter-icon, .weibo-icon,.google-icon, .facebook-icon, .linkedin-icon, .qq-icon {
    margin: 0 0.3em 0.3em 0;
}