@if ($postWidth > $listWidth) {
    $greaterWidth: $postWidth !global;
} @else {
    $greaterWidth: $listWidth !global;
}

// Remove the unit of a length
// https://css-tricks.com/snippets/sass/strip-unit-function/
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

@import "_variables/max-width.scss";

@media (max-width: $maxWidth) {
    .main-inner {
        width: auto !important;
    }
    .anchor-link {
        position: relative;
        transform: none;
        float: right;
    }
    .menu {
        display: flex;
        justify-content: space-around;
        word-break: break-all;
    }
    .menu-item {
        margin: 0;
    }
}