<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "head.html" . }}
    <body>
        <div class="container">
            <main class="fof">
                {{ with or .Site.Params.fofVideoWebm .Site.Params.fofVideoMp4 }}
                <video poster="{{ $.Site.Params.fofPoster }}" id="bgvid" playsinline autoplay muted loop>
                    {{ with $.Site.Params.fofVideoWebm }}
                    <source src="{{ . }}" type="video/webm" />
                    {{ end }}
                    {{ with $.Site.Params.fofVideoMp4 }}
                    <source src="{{ . }}" type="video/mp4" />
                    {{ end }}
                </video>
                {{ end }}
                <div class="main-inner">
                    <h1>{{ i18n "pageNotFound" }}</h1>
                    <div class="fof-footer">
                        <a href="{{ print `/` | relLangURL }}">{{ i18n "fofLinkText" }}</a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
