{{ define "main" }}
    <!-- Layout Poetry -->
    {{ if eq .Site.Params.homeLayout "poetry" }}
        {{ partial "pages/home-poetry.html" . }}
    {{ end }}
    <!-- Layout Footage -->
    {{ if eq .Site.Params.homeLayout "footage" }}
        {{ partial "pages/home-footage.html" . }}
    {{ end }}
    <!-- Layout Posts -->
    {{ if eq .Site.Params.homeLayout "posts" }}
        {{ partial "pages/home-posts.html" . }}
    {{ end }}
    <!-- Layout Page -->
    {{ if eq .Site.Params.homeLayout "page" }}
        {{ partial "pages/post.html" . }}
    {{ end }}
{{ end }}