{{- $Content := partial "utils/markdownify.html" (dict "$" . "raw" .Content "isContent" true) -}}
<!-- https://github.com/blueimp/Gallery -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.3.0/css/blueimp-gallery.min.css">
{{- if and (.Params.gallery) -}}
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery"
    aria-modal="true" role="dialog">
        <div class="slides" aria-live="polite"></div>
        <h3 class="title"></h3>
        <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft"></a>
        <a class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"></a>
        <a class="close" aria-controls="blueimp-gallery" aria-label="close" aria-keyshortcuts="Escape"></a>
        <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space"
            aria-pressed="false" role="button"></a>
        <ol class="indicator"></ol>
    </div>
    <div id="links">
        {{- $regexGallery := `<img src="(.+?)" alt="(.*?)">` -}}
        {{- $regexReplacementGallery := `<a href="$1" title="$2"><img src="$1" alt="$2"></a>` -}}
        {{- $Content = $Content | replaceRE $regexGallery $regexReplacementGallery -}}
        {{ $Content | safeHTML }}
    </div>
{{- end -}}

<script src="https://cdn.jsdelivr.net/npm/blueimp-gallery@3.3.0/js/blueimp-gallery.min.js"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event
        var target = event.target || event.srcElement
        var link = target.src ? target.parentNode : target
        var options = {
            index: link, event: event, onslide: function (index, slide) {
                var text = this.list[index].getAttribute('data-description'),
                    node = this.container.find('.description')
                node.empty()
                if (text) {
                    node[0].appendChild(document.createTextNode(text))
                }
            }
        }
        var links = this.getElementsByTagName('a')
        blueimp.Gallery(links, options)
    }
</script>
<style>
    .blueimp-gallery > .description {
        position: relative;
        /* top: 30px; */
        /* left: 15px; */
        margin-top: 15px;
        color: #fff;
        display: none;
    }

    .blueimp-gallery-controls>.description {
        display: block;
    }
</style>
