{{- $toc := .TableOfContents -}}

<!-- Change TOC Attribute -->
{{- $regexPatternTOC := `<nav id="TableOfContents">` -}}
{{- $regexReplacementTOC := `<nav class="contents">` -}}
{{- $toc := $toc | replaceRE $regexPatternTOC $regexReplacementTOC | safeHTML -}}

<!-- Inject Class Attribute -->
{{- $regexPatternTOC := `(<nav class="contents">\n.+)<(ol|ul)>` -}}
{{- $regexReplacementTOC := `$1<$2 class="toc">` -}}
{{- $toc := $toc | replaceRE $regexPatternTOC $regexReplacementTOC | safeHTML -}}

<!-- Inject TOC Title -->
{{- if .Site.Params.displayTOCTitle -}}
    {{- $regexPatternTOC := `(<nav class="contents">\n.+)(<(ol|ul) class="toc">)` -}}
    {{- $regexReplacementTOC := (printf `$1<h2 id="contents" class="contents-title">%s</h2>$2` (i18n "tocTitle")) -}}
    {{- $toc := $toc | replaceRE $regexPatternTOC $regexReplacementTOC | safeHTML -}}
    {{- .Scratch.Set "toc" $toc -}}
{{- end -}}

<!-- Link Headings to TOC -->
{{- $toc := .Scratch.Get "toc" | default $toc -}}
{{- if .Site.Params.linkHeadingsToTOC -}}
    {{- $regexPatternTOC := `(<a)( href="#([^"]+)">)` -}}
    {{- $regexReplacementTOC := `$1 id="contents:$3"$2` -}}
    {{- $toc := $toc | replaceRE $regexPatternTOC $regexReplacementTOC | safeHTML -}}
    {{- .Scratch.Set "toc" $toc -}}
{{ end }}

{{- $toc := .Scratch.Get "toc" | default $toc -}}
{{- .Scratch.Set "toc" $toc -}}
